/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

// Reset and my overrides
@import "compass-bootstrap/reset";
@import "overrides";

// Compass
// TODO: replace with bourbon
@import "compass";

// Bootstrap
// TODO: remove boostrap patterns, types, forms and replace with bourbon
@import "compass-bootstrap/variables";
@import "compass-bootstrap/mixins";
@import "compass-bootstrap/type";
@import "compass-bootstrap/forms";
@import "compass-bootstrap/patterns";

// Page specific styles
@import "main";

body {
  @include font-sans-serif(normal, $baseFontSize, $baseLineHeight)
}
a {
  text-decoration: none;
  color: $mediumBlueText;
  &:hover {
    text-decoration: underline;
  }
}
sup {
  font-size: $baseFontSize - 4px;
}

.center-container {
  @include fixed-container();
}
.sep-container {
  height: 20px;
	background: url(main/separatorBG.png) 0 0 repeat-x;
	margin: 30px 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

// TODO: use bourbon custom grid instead
.one-third-col {
  width: 285px;
	margin-right: 50px;
	float: left;
}
.last {
	margin-right: 0 !important;
}

#topContainerBG {
  background: url(main/topBG.png) 0 0 repeat-x;
}
#topContainerPattern {
  height: 131px;
  background: url(main/topBGPattern.png) 0 0 repeat;
  #logo {
    margin-top: 40px;
    float: left;
  }
  #loginContainer {
    @include border-corner-radius(bottom, left, 16px);
    float: right;
    padding: 3px 5px 4px 8px;
    text-align: right;
    background-color: #166eb6;
    @include size(28px, 475px);
    form#login {
      span {
        @include text-shadow($textShadow);
        text-transform: uppercase;
        font-size: $baseFontSize+1px;
        color: $lightBlueText;
        margin-right: 5px;
      }
      input[type=text], input[type=password] {
        @include no-border-input(inset 1px 3px 6px rgba(0,0,0,.22));
        width: 166px;
        margin-right: 5px;
      }
      #loginBtn {
        color: $white;
        padding: {
          left: 5px;
          right: 5px;
        }
      }
    }
  }
  #flashWrap {
    display: none;
    float: right;
    @include opacity(70);
    margin-top: 2px;
    margin-right: 60px;
    #arrow {
      @include arrow-up(darken($errorPink, 40%), 10px, left);
    }
    #flash {
      clear: both;
      @include box-shadow(3px 3px 10px rgba(0,0,0,.55));
      background-color: $errorPink;
      @include border-radius(10px); 
      padding: 5px; 
      width: 340px;
      border: 1px solid darken($errorPink, 40%);
      img#close {
        float: right;
        cursor: pointer;
      }
      p {
        margin: 0 40px 0 5px;
        text-align: right;
        font-weight: bold;
        @include border-radius(6px);
        background-color: $errorPink;
        color: red;
      }
      span {
        display: block;
        text-align: right;
        margin-right: 40px;
        font-size: $baseFontSize - 1px;
        a{
          color: darken($darkBlueText, 20%);
        }
      }
    }
  }
}

#menuContainer {
  height: 80px;
  background: url(main/menuBG.png) 0 0 repeat-x;
  ul {
    @include horizontal-list();
    @include text-shadow($textShadow);
    .active {
      background: asset_url("main/menuBGactive.png", image) 0 0 repeat-x;
//      background-color: $menuActiveBG;
      a {
        color: white;
      }
    }
    li {
      height: 80px;
      a {
        display: block;
        margin-top: 24px;
        text-align: center;
        color: $lightBlueText;
        text-transform: uppercase;
        font-size: $baseFontSize+4px;
        &:hover {
          color: white;
          text-decoration: none;
        }
        span {
          display: block;
          text-transform: lowercase;
          width: 150px;
          font-size: $baseFontSize;
          color: $lightBlueText;
        }
      }
    }
  }
}

#footerContainer {
  background: $mediumGrayBG url(main/bottomPatternLight.png) 0 0 repeat;
  padding: 20px 0;
  footer {
    border: none;
    margin-top: 0;
    padding: 0;
  }
  h3 {
	  font-size: $baseFontSize;
	  text-transform: uppercase;
	  color: $mediumGrayText;
	  margin-bottom: 10px;
	}
	a {
		color: $white;
	}
	p {
	  color: $lightGrayText;
	}
	ul {
	  @include no-bullets();
    margin-left: 0;
	}
  #tweetList{
    li {
      p {
        font-style: italic;
        font-size: $baseFontSize - 1px;
        span {
          display: block;
          color: $mediumGrayText;
        }
      }
    }
  }
  #newsletterContainer {
    margin-top: 16px;
    .btn {
      text-transform: uppercase;
    }
    input[type=text] {
      @include no-border-input();
      margin-right: 3px;
    }
  }
  #contactInfoList {
    li {
      @include border-radius();
//      @include box-shadow(inset 2px 1px 5px rgba(0,0,0,.35));
      background-color: #424347;
      color: $lightGrayText;
    	padding: 10px;
    	font-size: $baseFontSize;
    	margin-bottom: 7px;
    	span {
//        color: $gray;
        margin-right: 5px;
    	}
    }
  }
}

#footerCopyrightContainer {
  background: $darkGrayBG url(main/bottomPatternDark.png) 0 0 repeat;
	padding: 20px 0;
	#copyright {
	  color: $gray;
	  font-size: $baseFontSize - 2px;
	  margin-top: 15px;
	}
	ul {
	  @include horizontal-list();
	  margin: 15px 10px 0 0;
	  float: right;
	}
}
