// Override compass or bootstrap variables before importing

$siteWidth: 960px;
$baseFontSize: 12px;
$baseLineHight: 20px;
$baseDarkBlue: #166eb6;

$white: #fff;

$textShadow: 1px 1px 0 rgba(100,100,100,.75);

// Menu
$menuOffColor: #cbddf2;
$menuActiveBG: darken($baseDarkBlue, 10%);

// Slider
$sliderHeaderBlue: #367aba;
$siderParagraphColor: #444549;

// Footer
$mainFooterColor: #2e2f33;
$mainFooterTextColor: darken($white, 25);
$copyFooterColor: #242528;


// Mixins
@mixin no-border-input($shadow: inset 1px 3px 10px rgba(0,0,0,.55)) {
//  @include placeholder();
  padding-left: 8px;
  @include box-shadow($shadow);
  border: none;
  text-shadow: none;
}
