<%= javascript_include_tag "/nicEdit.js" if @edit %>

<div id="adminPanel" class="topbar">
  <div class="fill">
    <div class="container">
      
        <button class="btn primary" data-click="save" type="submit">Save</button>
        <button class="btn primary" data-click="preview" type="submit">Preview</button>
        <button class="btn primary" data-click="discard" type="submit">Discard Changes</button>
        <button class="btn primary" data-click="meta" type="submit">Meta Settings</button>
        <button class="btn primary" data-click="notyetimplemented" type="submit">Change Page Layout</button>
        <button class="btn primary" data-click="notyetimplemented" type="submit">Change Site Theme</button>
        <button class="btn pull-right" data-click="notyetimplemented" type="submit">My Account</button>
        
      <div id="alert" hidden="hidden">
        <a class="close">×</a>
        <div class="message">Some Error Here</div>
      </div>
      
      <div id="myNicPanel"></div>
      
    </div>
  </div>
</div>

<div id="expandAdminPanel" class="topbar">
  <div class="fill">
      <a class="expand">&gt;&gt;</a>
  </div>
</div>
