<% content_for :title, "An error has occurred" %>

<div class="center-container">
  <h2>An error has occurred: (TODO: Make this look nice)</h2>
  <h3 class="error" style="color:red"><%= flash[:error] %></h3>
</div>
